<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Website Film Pendek Nol Koma</title>
        <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}" />
        <!-- Font Awesome icons (free version)-->
        <script src="{% static 'js/all.js' %}" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
		
		

		<style>
		  .carousel-inner img {
			width: 100%;
			height: 100%;
		  }
		  </style>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Nol Koma</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Sinopsis</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Projects</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Nol Koma</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Film Pendek Dari Komunitas Film Pendek Jakarta</h2>
                    <a class="btn btn-primary js-scroll-trigger" href="#about">Detail Film</a>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-white mb-4">SINOPSIS PENDEK</h2>
                        <p class="text-white-50">
                            Emir, Seorang pemimpin proyek yang sedang dihadapkan dengan  kesempatan korupsi di depan mata, mengalami perjalanan spiritual  yang mempertemukannya dengan dua versi dirinya dari masa lalu.  Membuatnya mengalami sebuah pertempuran batin yang hebat  tentang apa yang ia berusaha lupakan.
 
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'assets/img/logo.png' %}" alt="" />
            </div>
        </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            <div class="container">
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
					
                    <div class="col-xl-8 col-lg-7">
						<video style="max-width: 100%; height: auto;"  controls>
							<source src="{% static 'assets/img/movie2.mp4' %}" type="video/mp4">
							Your browser does not support the video tag.
						</video>
					</div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>Behind The Scene</h4>
                            <p class="text-black-50 mb-0">Pada hari sabtu tanggal 5 Desember 2020 kemarin, kami sudah melaksanakan shooting day dan sekarang kami sudah memasuki tahap post-production</p>
                        </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/1.png' %}" alt="" /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Latar Belakang</h4>
                                    <p class="mb-0 text-white-50">Korupsi adalah sebuah kegiatan yang sepertinya sudah menjadi budaya di negara ini. Budaya yang tidak akan bisa dihilangkan, kecuali dari diri sendiri.</p>
                                    <hr class="d-none d-lg-block mb-0 ml-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6"><img class="img-fluid" src="{% static 'assets/img/3.png' %}" alt="" /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Tujuan Film</h4>
                                    <p class="mb-0 text-white-50">Kami ingin memberikan sebuah pencerahan lewat perjuangan karakter di film kami dalam mengatasi dilema batinnya ketika dihadapkan dengan peluang korupsi yang ada di depan mata, dan tentunya dengan cerita maju mundur yang menarik.</p>
                                    <hr class="d-none d-lg-block mb-0 mr-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				
				
            </div>
			
		
			
        </section>
		
		<section style="margin-bottom:100px; margin-left:9%; margin-right:9%;">
		
		<div class="row justify-content-center no-gutters mb-5 mb-lg-0" style="max-width=80%;">
		
			<div id="demo" class="carousel slide" data-ride="carousel">
			  <ul class="carousel-indicators" style="max-width:70%">
				<li data-target="#demo" data-slide-to="0" class="active"></li>
				<li data-target="#demo" data-slide-to="1"></li>
				<li data-target="#demo" data-slide-to="2"></li>
				<li data-target="#demo" data-slide-to="3"></li>
			  </ul>
			  <div class="carousel-inner">
				<div class="carousel-item active">
				  <img src="{% static 'assets/img/foto1.png'%}"  width="1100" height="500">
				  <div class="carousel-caption">
					<h3 style="background-color:black; font-size : 3vw;">Shooting Outdoor</h3>
					<p style="background-color:black;font-size : 2vw">Pusing woy dikerjain hujan terus!</p>
				  </div>   
				</div>
				<div class="carousel-item">
				  <img src="{% static 'assets/img/foto2.png' %}"  width="1100" height="500">
				  <div class="carousel-caption">
					<h3 style="background-color:black;font-size : 3vw">Syukuri Apa Yang Ada</h3>
					<p style="background-color:black;font-size : 2vw">Hidup adalah Anugerah</p>
				  </div>   
				</div>
				<div class="carousel-item">
				  <img src="{% static 'assets/img/foto3.png' %}"  width="1100" height="500">
				  <div class="carousel-caption">
					<h3 style="background-color:black;font-size : 3vw">Silau bos!</h3>
					<p style="background-color:black;font-size : 2vw">Seperti masa depan kita, asik!</p>
				  </div>   
				</div>
				<div class="carousel-item">
				  <img src="{% static 'assets/img/foto4.png' %}" width="1100" height="500">
				  <div class="carousel-caption">
					<h3 style="background-color:black;font-size : 3vw">Ada bidadari nih!</h3>
					<p style="background-color:black;font-size : 2vw">Sayangnya gak suka sama kamu</p>
				  </div>   
				</div>
			  </div>
			  <a class="carousel-control-prev" href="#demo" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			  </a>
			  <a class="carousel-control-next" href="#demo" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			  </a>
			</div>
		
		</div>
		
		</section>
		
		
        <!-- Signup-->
        <section class="signup-section" id="signup">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <h2 class="text-white mb-5">Nantikan update dari kami selanjutnya ya!</h2>
                      
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="contact-section bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fab fa-instagram text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Produser</h4>
								<h3 class="text-uppercase m-0">Ary Setiarsih</h3>
                                <hr class="my-4" />
                                <div class="small text-black-50"><a href="https://www.instagram.com/setiarsihary/">@setiarsihary</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fab fa-instagram text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Sutradara</h4>
								<h3 class="text-uppercase m-0">Michael Andrian</h3>
                                <hr class="my-4" />
                                <div class="small text-black-50"><a href="https://www.instagram.com/michaelandrian10_/">@michaelandrian10_</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fab fa-instagram text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Penulis</h4>
								<h3 class="text-uppercase m-0">Fauzan Pradana</h3>
                                <hr class="my-4" />
                                <div class="small text-black-50"><a href="https://www.instagram.com/fpradana3/">@fpradana3</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container">Copyright © Fauzan Pradana Linggih</div></footer>
        <!-- Bootstrap core JS-->
        <script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <!-- Third party plugin JS-->
		<script src="{% static 'js/jquery.easing.min.js' %}"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
